
@font-face {
    font-family: 'prodotto_in_cina';
    src: url('/fonts/prodotto_in_cina-webfont.woff2') format('woff2'),
         url('/fonts/prodotto_in_cina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin code-text {
    font-family: "Monaco";
}

@mixin punk-text {
    font-family: "prodotto_in_cina";
    text-transform: uppercase;
}

body {
    margin: 0;

    > header {
        p { display: none }
        background-size: 268px 100%;
        height: 268px;
        background-image: url("/images/title-background.png");
        text-align: center;

        > img {
            width: 490px;
            height: 118px;
            margin: 45px auto;
            margin-bottom: 4px;
        }

        > nav li {
            @include punk-text;
            display: inline-block;
            font-size: 42px;
            margin:0 20px;

            a {
                text-decoration: none;
                color: white;

                &.highlighted, &:hover {
                    color: #FFEC00;
                }
                &.highlighted {
                    cursor: default;
                }
            }
        }
    }

    p {
        font-family: "Avenir Book";
        font-size: 17px;
    }

    code {
        @include code-text;
        font-size: 14px;

        &.byline {
            text-align: right;
            display: block;
            margin-right: 20px;
            margin-top: 24px;
            margin-bottom: 24px;
        }
        > span.subtle {
            &.return::before { 
                content: ": "
            }

            color: #aaa;
        }
    }

    > section {
        clear:left;

        h2 {
            @include punk-text;

            margin-top: 80px;
            font-size: 48px;
            padding-left: 80px;
            background-color: #FFEC00;
            min-height: 48px;

            > span {
                padding-left: 10px;
                padding-right: 20px;
                padding-top: 6px;
                padding-bottom: 4px;
                background-color: white;
                display: inline-block;
            }
        }

        h3 {
            @include punk-text;

            font-size: 20px;
            text-transform: uppercase;
        }

        h4, h3 > span {
            font-family: "Avenir-Heavy";
            font-size: 20px;
            text-transform: uppercase;
        }

        article {
            padding-left: 88px;
            width: 35%;
            float:left;
            display: block;

            &.scope_code {
                h4 {
                    font-size: 14px;
                    margin-bottom: 0px;
                }
                .highlight {
                    max-width:100%;
                    overflow-x: scroll;
                    
                    pre {
                        margin-top:4px;    
                    }
                }
            }

            code > blockquote {
                margin: 0;
            }

            div.fake_code > p {
                @include code-text;
                font-size: 12px;
                color: #848684;
                margin-bottom: 0px;
            }
        }

        .clearfix {
            clear: both;
        }
    }

    > section.examples {

        .example_content {
          display: -webkit-flex;
          display: flex;


        ul {
            padding-left: 88px;
            margin-top:0;
            margin-bottom: 60px;
            min-width: 400px;
            a {
                text-decoration: none;
                color: black;
                &:hover {
                    color: #FFEC00;
                }
            }

            > li {
                @include punk-text;
                font-size: 20px;
                text-transform: uppercase;
                padding-top: 6px;
                padding-bottom: 6px;
                list-style-type: none;
            }

            > li.highlighted, > li.highlighted a  {
                color: #FFC54D;
                list-style-type: disc;

                &:hover {
                    cursor: default;
                }
            }
        }

        > div {
            -webkit-flex: 1;
            flex: 1;

            margin-right: 88px;
            overflow-x: scroll;

            margin-left: 30px;
            margin-bottom: 60px;
        }

        .code_chunk {
            border: 1px solid #D4D4D4;
            display: block;
            margin:0;
            padding:10px;
            padding-left: 20px;
            white-space: pre;
            line-height: 1.5;
            font-size: 16px;
                        overflow-x: scroll;

        }
        ref {
            padding-top: 10px;
            @include code-text;
            float: left;
        }
    }
    }
}