---
title: Getting Set Up
subtitle: Getting Set Up
---

section
  article
    markdown:

      There are 4 steps invovled in getting Danger running:

      * Creating a Dangerfile and adding a few simple rules.
      * Creating a GitHub account for Danger to use.
      * Setting up an access token for Danger with that account.
      * Setting up Danger to run on your CI.

      If you are installing Danger on a project yourself, then we recommend you add the

      ### Bundler-less installation

      If Danger is your only ruby dependency, you may not want to use [bundler][bundler]

      [bundler]: http://bundler.io
