@font-face {
  font-family: 'prodotto_in_cina';
  src: url("/fonts/prodotto_in_cina-webfont-a99bb615.woff2") format("woff2"), url("/fonts/prodotto_in_cina-webfont-faa516c7.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0; }
  body > header {
    background-size: 268px 100%;
    height: 268px;
    background-image: url("/images/title-background-27656e18.png");
    text-align: center; }
    body > header p {
      display: none; }
    body > header > img {
      width: 490px;
      height: 118px;
      margin: 45px auto;
      margin-bottom: 4px; }
    body > header > nav li {
      font-family: "prodotto_in_cina";
      text-transform: uppercase;
      display: inline-block;
      font-size: 42px;
      margin: 0 20px; }
      body > header > nav li a {
        text-decoration: none;
        color: white;
        text-shadow: 2px 2px black; }
        body > header > nav li a.highlighted, body > header > nav li a:hover {
          color: #FFEC00; }
        body > header > nav li a.highlighted {
          cursor: default; }
    body > header.small {
      text-align: left;
      background-size: 67px 100%;
      height: 67px;
      margin-top: 20px; }
      body > header.small img {
        margin-left: 80px;
        margin-top: 20px;
        margin-bottom: -4px;
        width: 122px;
        height: 30px; }
      body > header.small > nav {
        display: inline-block; }
        body > header.small > nav ul {
          margin-left: 40px; }
        body > header.small > nav li {
          font-size: 28px;
          margin: 0 10px; }
          body > header.small > nav li a {
            text-shadow: 2px 2px black; }
  body p {
    font-family: "Avenir Book";
    font-size: 17px; }
  body code {
    font-family: "Monaco";
    font-size: 14px; }
    body code.byline {
      text-align: right;
      display: block;
      margin-right: 20px;
      margin-top: 24px;
      margin-bottom: 24px; }
      body code.byline.inline {
        display: inline-block;
        float: right;
        margin-top: 16px; }
    body code > span.subtle {
      color: #aaa; }
      body code > span.subtle.return::before {
        content: " -> "; }
  body h2 {
    font-family: "prodotto_in_cina";
    text-transform: uppercase;
    margin-top: 80px;
    font-size: 48px;
    padding-left: 80px;
    background-color: #FFEC00;
    min-height: 48px; }
    body h2.reduced_top_margin {
      margin-top: 32px; }
    body h2 > span {
      padding-left: 10px;
      padding-right: 20px;
      padding-top: 6px;
      padding-bottom: 4px;
      background-color: white;
      display: inline-block; }
  body > section {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: row; }
    body > section h3 {
      font-family: "prodotto_in_cina";
      text-transform: uppercase;
      font-size: 20px;
      text-transform: uppercase; }
    body > section h4, body > section h3 > span, body > section h5 {
      font-family: "Avenir-Heavy";
      font-size: 20px;
      text-transform: uppercase; }
    body > section h5 {
      font-size: 14px; }
    body > section h3, body > section h4, body > section h5 {
      margin-left: -0.7em; }
    body > section .header-link {
      font-family: "Monaco";
      text-decoration: none;
      color: #FFEC00; }
      body > section .header-link:hover {
        color: black; }
    body > section > article:first-child {
      margin-right: 20px;
      margin-left: 80px; }
    body > section article {
      width: 50%;
      display: block;
      margin-right: 80px;
      margin-left: 20px; }
      body > section article.scope_code h4 {
        font-size: 14px;
        margin-bottom: 0px; }
      body > section article.scope_code .highlight {
        max-width: 100%;
        overflow-x: scroll; }
        body > section article.scope_code .highlight pre {
          margin-top: 4px; }
      body > section article.scope_code ul li {
        font-family: "Monaco";
        font-size: 12px;
        color: #848684; }
      body > section article code > blockquote {
        margin: 0; }
      body > section article div.fake_code > p {
        font-family: "Monaco";
        font-size: 12px;
        color: #848684;
        margin-bottom: 0px; }
    body > section .clearfix {
      clear: both; }
  body > section.examples ul {
    padding-left: 88px;
    margin-top: 0;
    min-width: 320px; }
    body > section.examples ul a {
      text-decoration: none;
      color: black; }
      body > section.examples ul a:hover {
        color: #FFEC00; }
      body > section.examples ul a span {
        font-family: "prodotto_in_cina";
        text-transform: uppercase; }
    body > section.examples ul > li {
      font-family: "prodotto_in_cina";
      text-transform: uppercase;
      font-size: 20px;
      text-transform: uppercase;
      padding-top: 6px;
      padding-bottom: 6px;
      list-style-type: none; }
    body > section.examples ul > li.highlighted, body > section.examples ul > li.highlighted a {
      color: #FFC54D;
      list-style-type: disc; }
      body > section.examples ul > li.highlighted:hover, body > section.examples ul > li.highlighted a:hover {
        cursor: default; }
  body > section.examples > div {
    -webkit-flex: 1;
    flex: 1;
    margin-right: 88px;
    overflow-x: scroll;
    margin-left: 30px; }
  body > section.examples .code_chunk {
    border: 1px solid #D4D4D4;
    display: block;
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    white-space: pre;
    line-height: 1.5;
    font-size: 16px;
    overflow-x: scroll; }
  body > section.examples ref {
    padding-top: 10px;
    font-family: "Monaco"; }
